.container-config-view {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 0.2fr 1fr 0.2fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
        "nav main aside"
        "nav main aside"
        "nav main aside";
}

.container-config-view .container-main {
    grid-area: main;
    width: 100%;
    height: 100%;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    overflow-y: scroll;
    overflow-x: hidden;
}

@media (max-width: 768px) {
    .container-config-view {
        grid-template-areas: 
            "main main main"
            "main main main"
            "main main main";
    }
    .container-config-view .container-main {
        border:none;
    }
}