.container-home-view {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 0.2fr 1fr 0.2fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
        "nav main aside"
        "nav main aside"
        "nav main aside";
}

.container-home-view .container-main {
    grid-area: main;
    width: 100%;
    height: 100%;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    overflow-y: scroll;
    overflow-x: hidden;
}

.container-home-view .container-main .container-form-post-create {
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid gray;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container-home-view .container-main .container-form-post-create .container-inputs {
    display: flex;
    flex-direction: column;
}

.container-home-view .container-main .container-form-post-create .textarea {
    border: 1px solid gray;
    border-radius: none;
    outline: none;
    padding: 10px;
    
    width: 400px;
    min-height: 100px;
    overflow-y: none;
    resize: none;
}

.container-button-refresh {
    background-color: #000;
    color: #FFF;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid gray;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container-button-refresh i {
    display: none;
}

@media (max-width: 768px) {
    .container-home-view {
        grid-template-areas: 
            "main main main"
            "main main main"
            "main main main";
    }

    .container-home-view .container-main {
        padding-top: 50px;
        padding-bottom: 50px;

        border:none;
    }

    .container-home-view .container-main .container-form-post-create {
        padding: 10px;

        border-radius: 10px;

        width: 250px;
        height: 200px;
        
        display: none;

        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .container-home-view .container-main .container-form-post-create .textarea {
        min-width: initial;
        max-width: initial;

        width: max-content;
        height: max-content;
    }

    .container-button-refresh {
        padding: 0px;

        height: 50px;

        position: fixed;
        top: 0;
        left: 0;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container-button-refresh button {
        padding: 5px;
        background: none;
        border: none;
        font-size: 18px;
    }

    .container-button-refresh i {
        display: block;
        color: #FFF;
    }

    .container-button-refresh span {
        display: none;
    }

    .container-mobile-button-post-create {
        display: initial;
        position: fixed;
        bottom: 55px;
        right: 5px;

        width: 50px;
        height: 50px;
    }
}