body {
    font-family: "Roboto", sans-serif;
    background-color: #1E1E1E;
    color: #FFF;
}

input {
    background-color: gray;
}

textarea {
    border: 1px solid gray;
    color: #FFF;
}

a {
    text-decoration: none;
    padding: none;
    margin: none;
    background: none;
    color: #fff;
    border: none;
    outline: none;
}

.app {
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
}

.container-view-login {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container-view-login .form {
    display: flex;
    flex-direction: column;
}

.container-mobile-form-post-create {
    display: none;
    width: 20em;
    height: 15em;
    border: 1px solid #FFF;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container-mobile-form-post-create .container-form {
    width: 100%;
    height: 100%;

    background-color: #1E1E1E;

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    gap: 5px;
}

.container-post-create-buttons-mobile {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    gap: 5px;
}

.container-mobile-form-post-create .container-form .textarea {
    background-color: #1E1E1E;
    resize: none;
    border: gray;
    outline: none;
    padding: 10px;
}

.post-button-image-mobile {
    background-color: #1E1E1E;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
}

.container-mobile-form-post-create .container-form button {
    background-color: #1E1E1E;
    color: #FFF;
    border-top: 1px solid #FFF;
}

.container-mobile-form-post-create .container-form button:active {
    background-color: gray;
}

.link {
    color: aqua;
}

.link:hover {
    text-decoration: underline;
}

.container-upvote-interaction {
    cursor: pointer;
}

.container-upvote-interaction:hover {
    background-color: gray;
}

.container-upvote-interaction:active {
    background-color: gray;
}