.container-profile-view {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 0.4fr 1fr 0.4fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
        "nav main aside"
        "nav main aside"
        "nav main aside";
}

.container-profile-view .container-main {
    grid-area: main;
    overflow-y: scroll;
    overflow-x: hidden;

    border-left: 1px solid gray;
    border-right: 1px solid gray;
}

.container-profile-view .container-main .container-profile {
    padding: 10px;
    border-bottom: 1px solid gray;
    
    display: grid;
    grid-template-columns: min-content auto;
    grid-template-rows: min-content max-content auto;
    grid-template-areas: 
        "pfp username"
        "pfp bio"
        "follows follows";
    gap: 10px;
}

.container-profile-view .container-main .container-profile .container-pfp {
    grid-area: pfp;
    border: 1px solid #FFF;
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.container-profile-view .container-main .container-profile .container-pfp .img-profile {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-profile .container-name-follow {
    grid-area: username;

    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    gap: 10px;
    align-content: center;
    justify-content: start;
}

.container-name-follow .container-name {
    width: 200px;

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    gap: 5px;
}

.container-name-follow .button-follow {
    background-color: var(--primary-color);
    border: 1px solid #FFF;
    color: #FFF;
    padding: 10px;
    cursor: pointer;
}

.button-follow:active {
    background-color: gray;
}

.container-profile-view .container-main .container-profile .container-bio {
    grid-area: bio;
    word-break: break-word;
    overflow-wrap: break-word;
    font-family: "Inter-Regular";
}

.container-follows {
    grid-area: follows;

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    gap: 5px;
}

.container-follow {
    padding: 5px;
    border: 0.5px solid #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container-profile-view .container-main .container-posts {
    width: 100%;
    height: 100%;
}

@media (max-width: 768px) {
    .container-profile-view {
        grid-template-areas: 
            "main main main"
            "main main main"
            "main main main";
    }

    .container-profile-view .container-main {
        border:none;
        margin-bottom: 50px;
    }

    .container-profile-view .container-main .container-profile {    
        grid-template-columns: min-content auto;
        grid-template-rows: min-content auto auto;
        grid-template-areas: 
            "pfp username"
            "bio bio"
            "follows follows";
    }

    .container-profile-view .container-main .container-profile .container-pfp {
        width: 100px;
        height: 100px;
    }

    .container-profile .container-name-follow {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        gap: 10px;
    }

    .container-name-follow .container-name {
        width: 100%;
    }

    .container-name-follow .button-follow {
        width: 100%;
        padding: 10px;
    }
}