.container-profile-view {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 0.2fr 1fr 0.2fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
        "nav main aside"
        "nav main aside"
        "nav main aside";
}

.container-profile-view .container-main {
    grid-area: main;
    overflow-y: scroll;
    overflow-x: hidden;

    border-left: 1px solid gray;
    border-right: 1px solid gray;
}

.container-profile-view .container-main .container-profile {
    padding: 10px;
    border-bottom: 1px solid gray;
    
    display: grid;
    grid-template-columns: min-content auto;
    grid-template-rows: min-content max-content;
    grid-template-areas: 
        "pfp username"
        "pfp bio";
    gap: 10px;
}

.container-profile-view .container-main .container-profile .container-pfp {
    grid-area: pfp;
    border: 1px solid black;
    overflow: hidden;
    width: 200px;
    height: 200px;
}

.container-profile-view .container-main .container-profile .container-pfp .img-profile {
    width: 100%;
    height: 100%;
}

.container-profile-view .container-main .container-profile .container-name {
    grid-area: username;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-profile-view .container-main .container-profile .container-bio {
    grid-area: bio;
}

.container-profile-view .container-main .container-posts {
    width: 100%;
    height: 100%;
}

.container-profile-view .container-main .container-posts .container-post {
    padding: 10px;
    border-bottom: 1px solid gray;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content;
    gap: 10px;
}

.container-profile-view .container-main .container-posts .container-post .container-sign {
    display: flex;
}

.container-profile-view .container-main .container-posts .container-post .container-sign .sign {
    margin-left: 10px;
}

.container-profile-view .container-main .container-posts .container-post .container-sign .container-pfp {
    width: 50px;
    height: 50px;
    border: 1px solid black;
}

.container-profile-view .container-main .container-posts .container-post .container-sign .container-pfp .img-profile-post {
    width: 100%;
    height: 100%;
}

.container-profile-view .container-main .container-posts .container-post .post-content {
    overflow-wrap: break-word;
    margin: 0;
}

.container-profile-view .container-main .container-posts .container-post .post-content img {
    max-width: 100%;
}

@media (max-width: 768px) {
    .container-profile-view {
        grid-template-areas: 
            "main main main"
            "main main main"
            "main main main";
    }

    .container-profile-view .container-main {
        border:none;
        margin-bottom: 50px;
    }

    .container-profile-view .container-main .container-profile {    
        grid-template-columns: min-content auto;
        grid-template-rows: min-content auto;
        grid-template-areas: 
            "pfp username"
            "bio bio";
    }

    .container-profile-view .container-main .container-profile .container-pfp {
        width: 100px;
        height: 100px;
    }
}