.container-view-messages {
    padding: 0;
    margin: 0;
    grid-template-areas: 
        "nav main main"
        "nav main main"
        "nav main main";
}

.comments-view-main {
    grid-area: main;

    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
}